*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff0f0;
}

.container-player{
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    background-color: #d70000;
    box-shadow: 4px 4px 5px #500000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.container-player > h1{
    font-size: 2rem;
    color: #ffc0c0;
}

.container-album{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-album > img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 0 1rem 0;
    animation: spin 6s linear infinite;
    box-shadow: 0 0 30px 4px #ffffff;
}

.container-player > .controls{
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #500000;
}

.controls > audio{
    width: 100%;
    height: 2rem;
    margin-top: 1rem;

}

.player_controls {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.player_controls > i:hover{
    color: #ff5757;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.word-search-container {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.word-search-container .letter {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #500000;
    background-color: #ffc0c0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #d70000;
    cursor: pointer;
}

.letter.selected {
    background-color: #ffeb3b; /* Color de resaltado para selección */
}

.letter.found {
    background-color: #4caf50; /* Color de resaltado para palabras encontradas */
    color: white;
}
