*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
}

.container-player{
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    background-color: #d70000;
    box-shadow: 4px 4px 5px #500000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.player__img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: spin 6s linear infinite;
}

.container-player > h1{
    font-size: 2rem;
    color: #ffc0c0;
}

.container-album{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-player > .controls{
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #500000;
}

.controls > audio{
    width: 100%;
    height: 2rem;
    margin-top: 1rem;

}

.player_controls {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.player_controls > i:hover{
    color: #ff5757;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.word-search-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
    margin-top: 20px;
    justify-content: center;
}

.letter {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6c757d;
    font-size: 1.1rem;
    font-weight: bold;
    color: #495057;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}

.letter.selected {
    background-color: #ffeb3b;
}

.letter.found {
    background-color: #198754;
    color: white;
}
